* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e1e5ea;
}

/* Typography */
h1 {
  padding: 5% 0;
  font-weight: 700;
}

h2 {
  padding: 3% 0;
  font-weight: 600;
}

/* Containers */
.wrapper {
  width: 89%;
  background-color: #fff;
  margin: 0 auto;
  padding: 0 7%;
}

.ipv-wrapper {
  padding: 3% 2%;
}

/* Images */
img {
  max-width: 600px;
  overflow: hidden;
}

/* Radio Buttons */
#defect-yes,
#defect-no {
  width: auto;
}

/* Navigation Bar */
nav {
  background-color: #e1e5ea;
}
nav li {
  list-style: none;
}

.nav-link {
  color: #000;
}

.nav-link:hover {
  color: #000;
}

/* Custom BS */
td {
  width: 15%;
}

.table-question {
  width: 50%;
}

.siv-table-question {
  width: 5px;
}

.siv-qa-comment {
  padding-bottom: 7%;
}
